@import "~@sparkpost/styles/src/assets/scss/shared/config";
@import "~@sparkpost/styles/src/assets/scss/shared/functions";

.spf-resultsErrors {
  &__summary {
    padding-right: rem(24);
  }

  &__message {
    margin: 0;
    line-height: rem(24);
    color: grayscale(2);
    font-size: rem(13);
    font-weight: 500;

    & > .fa {
      display: inline-block;
      width: rem(24);
    }
  }

  &__link {
    display: inline-block;
  }

  &__link a {
    display: block;
    margin-left: rem(24);
    margin-right: rem(24);
    line-height: rem(24);
    font-size: rem(12);
    font-weight: 500;
    color: grayscale(5);

    & > .fa {
      display: inline-block;
    }

    &:hover {
      text-decoration: none;
      color: color(blue);
    }
  }

  &__find > .fa {
    position: relative;
    top: -1px;
  }
}
