{
  "rules": {
    "complexity": "off",
    "max-lines": [
      "warn",
      {
        "max": 250,
        "skipComments": true
      }
    ]
  },
  "extends": [
    "react-app",
    "plugin:cypress/recommended",
    "plugin:jest/recommended",
    "plugin:testing-library/recommended"
  ],
  "plugins": ["testing-library", "jest"]
}
